<a href="/" class="logotype">
    <svg xmlns="http://www.w3.org/2000/svg"
    class="logotype__icon logotype__icon_size">
        <path class="symbol1 symbol1_body"/>
        <path class="symbol2 symbol2_body"/>
        <path class="symbol3 symbol3_body"/>
        <path class="symbol4 symbol4_body"/>
        <path class="symbol5 symbol5_body"/>
        <path class="symbol6 symbol6_body"/>
        <path class="symbol7 symbol7_body"/>
        <path class="symbol8 symbol8_body"/>
        <path class="symbol9 symbol9_body"/>
        <path class="symbol10 symbol10_body"/>
        <path class="symbol11 symbol11_body"/>
    </svg>
</a>