.header {
    background-color: cadetblue;

    display: grid;
}

@media screen and (min-width: 50px) {
    .header {
        grid-template-areas: 'tr-logotype buttom-navigation';
        justify-content: space-between;
        column-gap: 16px;
    }
}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 1152px) {
    .header {
        grid-template-areas: 'tr-logotype tr-navigation tr-authorization';
        column-gap: 32px;
    }
}
@media screen and (min-width: 1440px) {}
@media screen and (min-width: 1920px) {}